In [2]:
%matplotlib inline
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [14]:
df = pd.read_csv('../data/res_score_from_level_0.csv')
df_org = pd.read_csv('../data/input/train.csv')

In [15]:
df.head()

,image_id,score_0,score_1,score_2,score_3,score_4,score_5
0,0018ae58b01bdadc8e347995b69f99aa,0.788974,0.163663,0.001350,0.000000,0.046013,0.0
1,004dd32d9cd167d9cc31c13b704498af,0.830243,0.162611,0.007146,0.000000,0.000000,0.0
2,0068d4c7529e34fd4c9da863ce01a161,0.851137,0.142319,0.006535,0.000009,0.000000,0.0
3,006f6aa35a78965c92fffd1fbd53a058,0.565261,0.313150,0.000000,0.023114,0.098475,0.0
4,007433133235efc27a39f11df6940829,0.912433,0.083391,0.004176,0.000000,0.000000,0.0

In [16]:
df_org.head()

                           image_id data_provider  isup_grade gleason_score
0  0005f7aaab2800f6170c399693a96917    karolinska           0           0+0
1  000920ad0b612851f8e01bcc880d9b3d    karolinska           0           0+0
2  0018ae58b01bdadc8e347995b69f99aa       radboud           4           4+4
3  001c62abd11fa4b57bf7a6c603a11bb9    karolinska           4           4+4
4  001d865e65ef5d2579c190a0e0350d8f    karolinska           0           0+0

In [17]:
df = pd.merge(df, df_org, on='image_id', how='left')
df.head()

,image_id,score_0,score_1,score_2,score_3,score_4,score_5,data_provider,isup_grade,gleason_score
0,0018ae58b01bdadc8e347995b69f99aa,0.788974,0.163663,0.001350,0.000000,0.046013,0.0,radboud,4,4+4
1,004dd32d9cd167d9cc31c13b704498af,0.830243,0.162611,0.007146,0.000000,0.000000,0.0,radboud,1,3+3
2,0068d4c7529e34fd4c9da863ce01a161,0.851137,0.142319,0.006535,0.000009,0.000000,0.0,radboud,3,4+3
3,006f6aa35a78965c92fffd1fbd53a058,0.565261,0.313150,0.000000,0.023114,0.098475,0.0,radboud,3,4+3
4,007433133235efc27a39f11df6940829,0.912433,0.083391,0.004176,0.000000,0.000000,0.0,radboud,0,negative

In [20]:
tar = 0
for i in range(6):
    temp = df[df['isup_grade'] == i].reset_index(drop=True)
    temp = temp[['score_0', 'score_1', 'score_2', 'score_3', 'score_4', 'score_5']]
    
    print(f'isup_grade: {i}')

    print(temp.mean())
    print('#'*20)

isup_grade: 0
score_0    0.822899
score_1    0.159487
score_2    0.017614
score_3    0.000000
score_4    0.000000
score_5    0.000000
dtype: float64
####################
isup_grade: 1
score_0    8.041697e-01
score_1    1.625897e-01
score_2    9.940478e-03
score_3    2.330016e-02
score_4    3.176579e-09
score_5    0.000000e+00
dtype: float64
####################
isup_grade: 2
score_0    0.788300
score_1    0.165752
score_2    0.007062
score_3    0.024940
score_4    0.013945
score_5    0.000000
dtype: float64
####################
isup_grade: 3
score_0    0.779185
score_1    0.172303
score_2    0.007337
score_3    0.011000
score_4    0.030175
score_5    0.000000
dtype: float64
####################
isup_grade: 4
score_0    0.778489
score_1    0.178945
score_2    0.006249
score_3    0.001526
score_4    0.032880
score_5    0.001911
dtype: float64
####################
isup_grade: 5
score_0    0.786681
score_1    0.173320
score_2    0.004444
score_3    0.000000
score_4    0.023222
score_5    0.012332
dtype: float64
####################

In [21]:
temp = df[(df['isup_grade'] == 1) & (df['score_4'] > 0)]
temp

,image_id,score_0,score_1,score_2,score_3,score_4,score_5,data_provider,isup_grade,gleason_score
2832,91939627c20f2e47fa4be433363bfd6d,0.743993,0.203099,0.023684,0.029222,0.000003,0.0,radboud,1,3+3

In [22]:
temp = df[df['gleason_score'] == '3+4']
temp.head()

,image_id,score_0,score_1,score_2,score_3,score_4,score_5,data_provider,isup_grade,gleason_score
11,00bbc1482301d16de3ff63238cfd0b34,0.730043,0.239179,0.022088,0.003122,0.005569,0.0,radboud,2,3+4
27,018eabc8f4503ab89d0725b430e4808f,0.841394,0.129677,0.000954,0.011406,0.016569,0.0,radboud,2,3+4
31,01ad256f991cc99f46f8065cdf0bda01,0.707514,0.212848,0.003639,0.037096,0.038903,0.0,radboud,2,3+4
33,01c669f3f6a18197285bdf357b45d477,0.829319,0.142250,0.001192,0.026410,0.000829,0.0,radboud,2,3+4
41,022544d1446c2c44f8ca8ff53262dc5b,0.737713,0.205880,0.008015,0.044157,0.004235,0.0,radboud,2,3+4

In [6]:
score = '3+5'
sample = df_org[(df_org['gleason_score'] == score) & (df_org['data_provider'] == 'radboud')].sample(10)
print('Gleason Score: ', score)
for tar in sample['image_id'].values:

    _df = df[df['image_id'].str.contains(tar)].reset_index(drop=True)
    _df_pred = df_pred[df_pred['image_id'].str.contains(tar)].reset_index(drop=True)

    _df = pd.merge(_df, _df_pred, how='left', on='image_id', suffixes=['_org', '_pred'])
    temp = _df[_df.columns[1:]]
    _len = len(temp)
    temp = np.sum(temp, axis=0)
    print(tar)
    print(_len)
    print(temp)
    print('#'*30)

Gleason Score:  3+5
f964b9543ed1fcd3fcda049d744a50bd
43
score_0_org     10.078504
score_1_org     22.136001
score_2_org      1.211834
score_3_org      9.423828
score_4_org      0.000000
score_5_org      0.149833
score_0_pred    10.436560
score_1_pred    20.897562
score_2_pred     2.451469
score_3_pred     8.424499
score_4_pred     0.720843
score_5_pred     0.069065
dtype: float64
##############################
62274c435774e0ed7a219c9c3b693bce
59
score_0_org     15.424406
score_1_org     29.490932
score_2_org      4.051838
score_3_org      4.376236
score_4_org      0.000000
score_5_org      5.656589
score_0_pred    15.815938
score_1_pred    29.108124
score_2_pred     6.293872
score_3_pred     5.063700
score_4_pred     2.338508
score_5_pred     0.379858
dtype: float64
##############################
ae73856854dae06ef0423afdc995e9c8
69
score_0_org     17.685328
score_1_org     37.999163
score_2_org      1.032167
score_3_org     11.921277
score_4_org      0.000000
score_5_org      0.362066
score_0_pred    20.144107
score_1_pred    34.876290
score_2_pred     2.450834
score_3_pred    10.446411
score_4_pred     0.988370
score_5_pred     0.093989
dtype: float64
##############################
bb575d53749fe2b8cb9ef5381d968808
89
score_0_org     24.487006
score_1_org     46.897182
score_2_org      3.451810
score_3_org     10.306641
score_4_org      0.000000
score_5_org      3.857362
score_0_pred    25.153531
score_1_pred    47.355575
score_2_pred     5.802481
score_3_pred     8.213283
score_4_pred     2.270834
score_5_pred     0.204298
dtype: float64
##############################
3d7a6ed3325520d2325441bb3ede70ea
47
score_0_org     11.747828
score_1_org     34.108518
score_2_org      1.143654
score_3_org      0.000000
score_4_org      0.000000
score_5_org      0.000000
score_0_pred    12.413752
score_1_pred    33.018664
score_2_pred     0.981251
score_3_pred     0.315622
score_4_pred     0.147463
score_5_pred     0.123248
dtype: float64
##############################
623155cecfa8cc671054be004d6cb2cf
62
score_0_org     13.986328
score_1_org     35.910555
score_2_org      1.081035
score_3_org      7.222756
score_4_org      0.000000
score_5_org      3.799326
score_0_pred    15.044145
score_1_pred    34.406848
score_2_pred     2.379383
score_3_pred     6.320079
score_4_pred     3.550003
score_5_pred     0.299542
dtype: float64
##############################
2a560b45f1696770fecd76bb8ca75c59
73
score_0_org     18.601682
score_1_org     34.732123
score_2_org      1.880859
score_3_org     10.988301
score_4_org      0.000000
score_5_org      6.797034
score_0_pred    19.594087
score_1_pred    33.222642
score_2_pred     2.680717
score_3_pred    11.304902
score_4_pred     5.864918
score_5_pred     0.332735
dtype: float64
##############################
d4dcb1cd15053d17de19d2d63ddcb173
74
score_0_org     12.259985
score_1_org     45.951869
score_2_org      2.227400
score_3_org     13.426917
score_4_org      0.000000
score_5_org      0.133829
score_0_pred    13.500534
score_1_pred    44.316710
score_2_pred     4.004882
score_3_pred    11.462908
score_4_pred     0.667503
score_5_pred     0.047464
dtype: float64
##############################
1fa5537c8bba02102cbd68fe9b4abd27
12
score_0_org     4.436842
score_1_org     6.856585
score_2_org     0.624462
score_3_org     0.000000
score_4_org     0.000000
score_5_org     0.082111
score_0_pred    4.388024
score_1_pred    6.890507
score_2_pred    0.584063
score_3_pred    0.081645
score_4_pred    0.045034
score_5_pred    0.010726
dtype: float64
##############################
0f958c8bbbc828b2e043e49ea39e16e2
50
score_0_org     12.638811
score_1_org     27.965043
score_2_org      1.618523
score_3_org      0.868523
score_4_org      0.000000
score_5_org      6.909100
score_0_pred    13.861625
score_1_pred    26.596025
score_2_pred     1.829737
score_3_pred     2.313558
score_4_pred     4.580044
score_5_pred     0.819012
dtype: float64
##############################

In [44]:
score = '3+5'

sample = df_org[(df_org['gleason_score'] == score) & (df_org['data_provider'] == 'karolinska')].sample(10)
for tar in sample['image_id'].values:
    _df_pred = df_pred[df_pred['image_id'].str.contains(tar)].reset_index(drop=True)
    temp = _df_pred[_df_pred.columns[:-1]]
    temp = np.sum(temp, axis=0)
    print(tar)
    print(temp)
    print('#'*30)

05819281002c55258bb3086cc55e3b48
score_0     9.259028
score_1    17.797729
score_2     0.030472
score_3     0.117580
score_4     5.461469
score_5     4.333721
dtype: float64
##############################
fb2f9184b3ae3a323a44f83706ffce7d
score_0    12.998207
score_1    30.502782
score_2     0.546319
score_3     0.768333
score_4     3.176318
score_5     1.008042
dtype: float64
##############################
ebcc8512888bfadf6c90598a7e0b466b
score_0    14.742210
score_1    26.788935
score_2     0.108626
score_3     0.272274
score_4    11.591616
score_5     6.496339
dtype: float64
##############################
b9be346a547053539266d97872b5c7ab
score_0    12.754526
score_1    25.146285
score_2     0.089648
score_3     0.889670
score_4    12.690779
score_5     3.429092
dtype: float64
##############################
ea295f8383b74ad29cf5ba2daea89f98
score_0    14.332005
score_1    29.230968
score_2     0.111688
score_3     0.233347
score_4    13.799213
score_5    10.292779
dtype: float64
##############################
86ff52ec50c7e0b2b3549e9bb1524770
score_0    10.518794
score_1    37.317652
score_2     0.101754
score_3     0.194456
score_4     4.427527
score_5     3.439817
dtype: float64
##############################
eb224c3e74b14b1b93a377f358469610
score_0     9.642580
score_1    23.104279
score_2     0.044998
score_3     0.070776
score_4     6.640600
score_5     3.496768
dtype: float64
##############################
db0e00329b9050f7f855d64a882265d3
score_0    11.364089
score_1    31.302812
score_2     0.080800
score_3     0.327919
score_4     6.122917
score_5     3.801463
dtype: float64
##############################
7252d0b847fb0a633458317990b22496
score_0    10.694656
score_1    31.754569
score_2     0.110173
score_3     0.609381
score_4     8.195293
score_5     2.635927
dtype: float64
##############################
5a6fbb00a1d8eabcf61d3094e008c283
score_0    15.194657
score_1    38.522723
score_2     0.645607
score_3     2.187034
score_4     4.941403
score_5     1.508576
dtype: float64
##############################

In [9]:
a = ['cat', 'dog', 'bat', 'sat']
b = [s for s in a if 'at' in s]
b

['cat', 'bat', 'sat']

In [42]:
import numpy as np
import random
random.seed(4)
a = np.arange(10).tolist()
b = random.choice(a)
print(b)

random.seed()
a = np.arange(10).tolist()
b = random.choice(a)
print(b)

3
2