In [1]:
%matplotlib inline
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('../data/grid_224_2/res.csv')
df_org = pd.read_csv('../data/input/train.csv')
df_pred = pd.read_csv('../data/output/pred_res.csv')

In [3]:
df.head()

,image_id,score_0,score_1,score_2,score_3,score_4,score_5
0,0018ae58b01bdadc8e347995b69f99aa_1_2,0.136081,0.804548,0.059371,0.0,0.0,0.0
1,0018ae58b01bdadc8e347995b69f99aa_2_2,0.000000,0.948043,0.051957,0.0,0.0,0.0
2,0018ae58b01bdadc8e347995b69f99aa_2_3,0.267339,0.722676,0.009985,0.0,0.0,0.0
3,0018ae58b01bdadc8e347995b69f99aa_3_2,0.000000,0.962552,0.037448,0.0,0.0,0.0
4,0018ae58b01bdadc8e347995b69f99aa_3_3,0.294882,0.696787,0.008331,0.0,0.0,0.0

In [4]:
df_pred.head()

,score_0,score_1,score_2,score_3,score_4,score_5,image_id
0,0.360049,0.471118,0.000161,0.000241,0.008376,0.160056,0005f7aaab2800f6170c399693a96917_10_7
1,0.040260,0.505494,0.000430,0.000804,0.034087,0.418924,0005f7aaab2800f6170c399693a96917_10_8
2,0.088067,0.395174,0.000637,0.000837,0.028383,0.486901,0005f7aaab2800f6170c399693a96917_11_8
3,0.277738,0.282815,0.000170,0.000133,0.010402,0.428741,0005f7aaab2800f6170c399693a96917_11_9
4,0.105543,0.339585,0.000229,0.000406,0.039440,0.514798,0005f7aaab2800f6170c399693a96917_12_8

In [5]:
df_org.head()

                           image_id data_provider  isup_grade gleason_score
0  0005f7aaab2800f6170c399693a96917    karolinska           0           0+0
1  000920ad0b612851f8e01bcc880d9b3d    karolinska           0           0+0
2  0018ae58b01bdadc8e347995b69f99aa       radboud           4           4+4
3  001c62abd11fa4b57bf7a6c603a11bb9    karolinska           4           4+4
4  001d865e65ef5d2579c190a0e0350d8f    karolinska           0           0+0

In [6]:
score = '3+5'
sample = df_org[(df_org['gleason_score'] == score) & (df_org['data_provider'] == 'radboud')].sample(10)
print('Gleason Score: ', score)
for tar in sample['image_id'].values:

    _df = df[df['image_id'].str.contains(tar)].reset_index(drop=True)
    _df_pred = df_pred[df_pred['image_id'].str.contains(tar)].reset_index(drop=True)

    _df = pd.merge(_df, _df_pred, how='left', on='image_id', suffixes=['_org', '_pred'])
    temp = _df[_df.columns[1:]]
    _len = len(temp)
    temp = np.sum(temp, axis=0)
    print(tar)
    print(_len)
    print(temp)
    print('#'*30)

Gleason Score:  3+5
f964b9543ed1fcd3fcda049d744a50bd
43
score_0_org     10.078504
score_1_org     22.136001
score_2_org      1.211834
score_3_org      9.423828
score_4_org      0.000000
score_5_org      0.149833
score_0_pred    10.436560
score_1_pred    20.897562
score_2_pred     2.451469
score_3_pred     8.424499
score_4_pred     0.720843
score_5_pred     0.069065
dtype: float64
##############################
62274c435774e0ed7a219c9c3b693bce
59
score_0_org     15.424406
score_1_org     29.490932
score_2_org      4.051838
score_3_org      4.376236
score_4_org      0.000000
score_5_org      5.656589
score_0_pred    15.815938
score_1_pred    29.108124
score_2_pred     6.293872
score_3_pred     5.063700
score_4_pred     2.338508
score_5_pred     0.379858
dtype: float64
##############################
ae73856854dae06ef0423afdc995e9c8
69
score_0_org     17.685328
score_1_org     37.999163
score_2_org      1.032167
score_3_org     11.921277
score_4_org      0.000000
score_5_org      0.362066
score_0_pred    20.144107
score_1_pred    34.876290
score_2_pred     2.450834
score_3_pred    10.446411
score_4_pred     0.988370
score_5_pred     0.093989
dtype: float64
##############################
bb575d53749fe2b8cb9ef5381d968808
89
score_0_org     24.487006
score_1_org     46.897182
score_2_org      3.451810
score_3_org     10.306641
score_4_org      0.000000
score_5_org      3.857362
score_0_pred    25.153531
score_1_pred    47.355575
score_2_pred     5.802481
score_3_pred     8.213283
score_4_pred     2.270834
score_5_pred     0.204298
dtype: float64
##############################
3d7a6ed3325520d2325441bb3ede70ea
47
score_0_org     11.747828
score_1_org     34.108518
score_2_org      1.143654
score_3_org      0.000000
score_4_org      0.000000
score_5_org      0.000000
score_0_pred    12.413752
score_1_pred    33.018664
score_2_pred     0.981251
score_3_pred     0.315622
score_4_pred     0.147463
score_5_pred     0.123248
dtype: float64
##############################
623155cecfa8cc671054be004d6cb2cf
62
score_0_org     13.986328
score_1_org     35.910555
score_2_org      1.081035
score_3_org      7.222756
score_4_org      0.000000
score_5_org      3.799326
score_0_pred    15.044145
score_1_pred    34.406848
score_2_pred     2.379383
score_3_pred     6.320079
score_4_pred     3.550003
score_5_pred     0.299542
dtype: float64
##############################
2a560b45f1696770fecd76bb8ca75c59
73
score_0_org     18.601682
score_1_org     34.732123
score_2_org      1.880859
score_3_org     10.988301
score_4_org      0.000000
score_5_org      6.797034
score_0_pred    19.594087
score_1_pred    33.222642
score_2_pred     2.680717
score_3_pred    11.304902
score_4_pred     5.864918
score_5_pred     0.332735
dtype: float64
##############################
d4dcb1cd15053d17de19d2d63ddcb173
74
score_0_org     12.259985
score_1_org     45.951869
score_2_org      2.227400
score_3_org     13.426917
score_4_org      0.000000
score_5_org      0.133829
score_0_pred    13.500534
score_1_pred    44.316710
score_2_pred     4.004882
score_3_pred    11.462908
score_4_pred     0.667503
score_5_pred     0.047464
dtype: float64
##############################
1fa5537c8bba02102cbd68fe9b4abd27
12
score_0_org     4.436842
score_1_org     6.856585
score_2_org     0.624462
score_3_org     0.000000
score_4_org     0.000000
score_5_org     0.082111
score_0_pred    4.388024
score_1_pred    6.890507
score_2_pred    0.584063
score_3_pred    0.081645
score_4_pred    0.045034
score_5_pred    0.010726
dtype: float64
##############################
0f958c8bbbc828b2e043e49ea39e16e2
50
score_0_org     12.638811
score_1_org     27.965043
score_2_org      1.618523
score_3_org      0.868523
score_4_org      0.000000
score_5_org      6.909100
score_0_pred    13.861625
score_1_pred    26.596025
score_2_pred     1.829737
score_3_pred     2.313558
score_4_pred     4.580044
score_5_pred     0.819012
dtype: float64
##############################

In [44]:
score = '3+5'

sample = df_org[(df_org['gleason_score'] == score) & (df_org['data_provider'] == 'karolinska')].sample(10)
for tar in sample['image_id'].values:
    _df_pred = df_pred[df_pred['image_id'].str.contains(tar)].reset_index(drop=True)
    temp = _df_pred[_df_pred.columns[:-1]]
    temp = np.sum(temp, axis=0)
    print(tar)
    print(temp)
    print('#'*30)

05819281002c55258bb3086cc55e3b48
score_0     9.259028
score_1    17.797729
score_2     0.030472
score_3     0.117580
score_4     5.461469
score_5     4.333721
dtype: float64
##############################
fb2f9184b3ae3a323a44f83706ffce7d
score_0    12.998207
score_1    30.502782
score_2     0.546319
score_3     0.768333
score_4     3.176318
score_5     1.008042
dtype: float64
##############################
ebcc8512888bfadf6c90598a7e0b466b
score_0    14.742210
score_1    26.788935
score_2     0.108626
score_3     0.272274
score_4    11.591616
score_5     6.496339
dtype: float64
##############################
b9be346a547053539266d97872b5c7ab
score_0    12.754526
score_1    25.146285
score_2     0.089648
score_3     0.889670
score_4    12.690779
score_5     3.429092
dtype: float64
##############################
ea295f8383b74ad29cf5ba2daea89f98
score_0    14.332005
score_1    29.230968
score_2     0.111688
score_3     0.233347
score_4    13.799213
score_5    10.292779
dtype: float64
##############################
86ff52ec50c7e0b2b3549e9bb1524770
score_0    10.518794
score_1    37.317652
score_2     0.101754
score_3     0.194456
score_4     4.427527
score_5     3.439817
dtype: float64
##############################
eb224c3e74b14b1b93a377f358469610
score_0     9.642580
score_1    23.104279
score_2     0.044998
score_3     0.070776
score_4     6.640600
score_5     3.496768
dtype: float64
##############################
db0e00329b9050f7f855d64a882265d3
score_0    11.364089
score_1    31.302812
score_2     0.080800
score_3     0.327919
score_4     6.122917
score_5     3.801463
dtype: float64
##############################
7252d0b847fb0a633458317990b22496
score_0    10.694656
score_1    31.754569
score_2     0.110173
score_3     0.609381
score_4     8.195293
score_5     2.635927
dtype: float64
##############################
5a6fbb00a1d8eabcf61d3094e008c283
score_0    15.194657
score_1    38.522723
score_2     0.645607
score_3     2.187034
score_4     4.941403
score_5     1.508576
dtype: float64
##############################

In [9]:
a = ['cat', 'dog', 'bat', 'sat']
b = [s for s in a if 'at' in s]
b

['cat', 'bat', 'sat']

In [42]:
import numpy as np
import random
random.seed(4)
a = np.arange(10).tolist()
b = random.choice(a)
print(b)

random.seed()
a = np.arange(10).tolist()
b = random.choice(a)
print(b)

3
2